/*main*/
*{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
	
}

body{
	
	font-family: Kiwi Maru;
}

/*--header--*/
.bg{
	background-color: blue;
}


.navcover{
    position:absolute;
    background-color:blue;
    height:100px;
    width:100%;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: blue;
    position:absolute;
}

nav{
	flex: 2;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
    
}
nav ul li{
	display: inline-block;
	padding: 15px;
	list-style-type: none;
}
.container_m{
	max-width: 1300px;
	margin:0;
	padding-right: 20px;
	padding-left: 20px;
	color: blue;
}

.discord{
    background-color: rgb(54,57,63);
    border-radius: 10px;
    width: 800px;
    padding: 20px;
    margin:20px;
}
#dis_wid{
    width:10%;
    margin: 20px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.column1{
	flex-basis: 50%;
	min-width: 300px;
}
.column1 img{
	max-width: 50%;
	padding: 50px 0px 160px 150px;
	box-sizing: content-box;
}
.column1 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
a{
	text-decoration: none;
}
.button{
	display: inline-block;
	background:  #000000;
	color: #00e6e6;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition-timing-function: linear;
}
.button:hover{
	background:  #ffffff;
	color: #000000;
}
.header{
	background:  radial-gradient(#02aab0,#00cdac);
}
.header .row{
     margin-top: 70px;
}
.categories{
	margin: 70px 10px;
}










/*--footer--*/

.footer{
	background: #000000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 40px 0 20px;
}
.column-b img{
	width: 100%;
	cursor:pointer;
    filter: grayscale(100%);
}
.footer .p{
	color: #8a8a8a;
}

.footer h3{
    color: #ffffff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-1 form input{
	width: 100%;
	margin:3px;
	padding:5px;
	border-radius: 5px;
	border: none;
	outline: none;
	border-bottom: 2px solid cyan;
}
.footer-col-1 form button{
    width: 100%;
	margin:3px;
	padding:5px;
	border-radius: 5px;
	border: none;
	outline: none;
	border-bottom: cyan;
	color: black;
  }
  .footer-col-1 form button:hover{
      background-color: cyan;
  }
  .footer-col-1 form input:focus{
      border-bottom: 4px solid cyan;
  }

.footer-col-2{
	flex-basis: 1%;

}

.footer-col-2 img{
	width: 225px;
	margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}
ul{
	list-style-type: none;
}
.footer hr{
	border:none;
	background: #b5b5b5;
	height:1px;
	margin:20px 0; 
}
.copyright{
	text-align: center;
}
.menu-icon{
	width:28px;
	margin-left: 20px;
	display: none;
}

@media(max-width:700px){
    .navcover{
        height: 200px;
    }
}

@media(min-width: 650px) and  (max-width:800px){
    .discord{
        width: 90%;
    }
} 
@media(max-width:649px){
    .discord{
        width: 577px;
    }
}


/* @media and (max-width:600px) {
    .navbar{
        display:block;
    }
}
