.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 2;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    
}
nav ul li{
    display: inline-block;
    padding: 15px;
    list-style-type: none;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-right: 20px;
    padding-left: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.column1{
    flex-basis: 50%;
    min-width: 300px;
}
.column1 img{
    max-width: 50%;
    padding: 50px 0px 160px 150px;
    box-sizing: content-box;
    border-radius: 50%;
}
.column1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
a{
    text-decoration: none;
}
.button{
    display: inline-block;
    background:  #000000;
    color: #00e6e6;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition-timing-function: linear;
}
.button:hover{
    background:  #ffffff;
    color: #000000;
}
.header{
    background:  radial-gradient(#02aab0,#00cdac);
}
.header .row{
     margin-top: 70px;
}
.categories{
    margin: 70px 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer{
    background: #000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 40px 0 20px;
    }
    .column-b img{
    width: 100%;
    cursor:pointer;
    filter: grayscale(100%);
    }
    .footer .p{
    color: #8a8a8a;
    }
    .logo1 img{
    cursor:pointer;
    filter: grayscale(100%);
    }
    .logo1 img:hover{
    filter: grayscale(0);
    }
    .footer h3{
    color: #ffffff;
    margin-bottom: 20px;
    }
    .footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
    }
    .footer-col-1{
    flex-basis: 30%;
    }
    .footer-col-2{
    flex-basis: 1%;
    }
    .footer-col-2 img{
    width: 225px;
    margin-bottom: 20px;
    }
    .footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
    }
    ul{
    list-style-type: none;
    }
    .footer hr{
    border:none;
    background: #b5b5b5;
    height:1px;
    margin:20px 0;
    }
    .copyright{
    text-align: center;
    }
    .menu-icon{
    width:28px;
    margin-left: 20px;
    }